.button-49,
.button-49:after {
    width: 250px;
  height: 76px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #300035 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #4f0074 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 350px;
  }
}

.button {
    --dark: #181818;
    --light: #d9d9d9;
    --active: 0;
  
    cursor: pointer;
    position: relative;
  
    display: flex;
    align-items: center;
    gap: 0.5rem;
  
    transform-origin: center;
  
    background-color: transparent;
  
    border: none;
  }
  
  .button:hover {
    --active: 1;
  }
  
  .icon_cont {
    overflow: clip;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: calc(var(--active) * 1.5rem + (1 - var(--active)) * 0.5rem);
    height: calc(var(--active) * 1.5rem + (1 - var(--active)) * 0.5rem);
    background-color: hsla(0, 0%, 85%, var(--active));
  
    border: 1px solid var(--light);
    border-radius: 9999px;
    transition: all 0.5s ease-in-out;
  }
  
  .icon {
    font-size: 0.75rem;
    color: var(--dark);
    line-height: 1rem;
  
    transform: translateX(calc(-1rem * (1 - var(--active))));
    transition: transform 0.5s ease-in-out;
  }
  
  .text_button {
    position: relative;
  
    display: inline-block;
  
    padding-block: 0.5rem;
  
    font-size: 1rem;
    font-weight: 600;
    color: var(--light);
  
    text-transform: capitalize;
  }
  .text_button::before {
    content: "";
  
    position: absolute;
    bottom: 0;
    right: 0;
  
    width: calc((1 - var(--active)) * 100%);
    height: 1px;
    background-color: var(--light);
  
    border-radius: 9999px;
    transition: width 0.5s ease-in-out;
  }
  

  .backToTop {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
}



#backToTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(178, 2, 166, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: rgb(0, 0, 0);
}

#backToTop:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #CDDCDC;
 background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
 background-blend-mode: screen, overlay;
  align-items: center;
}

#backToTop:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

#backToTop::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: rgb(0, 0, 0);
  /* transition-duration: .3s; */
  font-size: 0px;
}

#backToTop:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}
