
.card {
    width: 190px;
    height: 254px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    color: black;
  }
  
  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  
  .card:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }



/* ---------------------------------------------------------------------------------------- */
.card-overview {
    position: relative;
    display: flex;
    width: 320px;
    border-radius: 24px;
    line-height: 1.6;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content {
    border: solid 1px rgb(25, 0, 255);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 36px;
    margin: 0;
    border-radius: 22px;
    color: #ffffff;
    overflow: hidden;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content::before {
    position: absolute;
    content: "";
    top: -4%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%);
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    z-index: -1;
    transform-origin: bottom;
    transition:  background-image 1s ease;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content::after {
    position: absolute;
    content: "";
    top: -8%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%);
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    z-index: -2;
    transform-origin: bottom;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .content:hover{
    background-image: linear-gradient(to right, #2575fc 0%, #6a11cb 100%);
  }
  
  .content .para {
    z-index: 1;
    opacity: 1;
    font-size: 3em;
    line-height: 50px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content .link {
    z-index: 1;
    color: #fea000;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content .link:hover {
    text-decoration: underline;
  }
  
.card-overview:hover {
    transform: translate(0px, -16px);
  }
  
.card-overview:hover .content::before {
    rotate: -8deg;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
.card-overview:hover .content::after {
    rotate: 8deg;
    top: 0;
    width: 100%;
    height: 100%;
  }

  @media (min-width: 769px) {
    .card-overview {
      width: 360px;
    }
    .content .para{
      font-size: 2.5em;
      padding: 20px;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .content img{
      display: none;
    }
  }



  @media(max-width: 768px) {
    .content .para{
      font-size: 2.5em;
      padding: 20px;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .content img{
      width: 40px;
      height: 40px;
  }
}
