@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.send-email{
  max-width: 800px;
  background: #ffffff;
  width: 50%;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.send-email .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.send-email form{
  padding: 30px 0 0 0;
}
.send-email form .form-row{
  display: flex;
  margin: 40px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 30px;
  position: relative;
  color: rgb(0, 0, 0);
}
form .form-row .textarea{
  height: 70px;
  
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(191, 191, 191, 0.231);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  
}
.input-data input[type="text"]:focus ~ label, .textarea textarea:focus ~ label,
.input-data input[type="text"]:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #a700e9;
}

.input-data input[type="email"]:focus ~ label ,
.input-data input[type="email"]:invalid ~ label { 
  transform: translateY(-20px); 
  font-size: 14px;
  color: #a700e9;
}
.input-data input[type="email"]:focus ~ label ,
.input-data input[type="email"]:valid ~ label { 
  transform: translateY(-20px); 
  font-size: 14px;
  color: #a700e9;
}

 
.textarea textarea{
  resize: none;
  padding-top: 10px;
  color: rgb(0, 0, 0);
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #ffffff;
  color: rgb(0, 0, 0);
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #a700e9;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}

.submit-btn button{
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 17px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
  color: red;
  font-size: 0.875em;
}


.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
  max-width: 90%;
  box-sizing: border-box;
}

.popup-content {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

.popup-content h2 {
  background: -webkit-linear-gradient(to right, #4f1575, #ff00bf);
  background: linear-gradient(to right, #4f1575, #ff00bf);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-size: 2.5em;
  margin-bottom: 20px;
  
}

.popup-content p {
  font-size: 0.8em;
  
  padding: 0 20px;
}

.popup-content img{
  max-width: 100px;
   height: auto;
   margin-bottom: 20px;
} 

.popup button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

/* Overlay for the popup */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: all 0.3s ease;
}

#nameError {
  color: #ff0000;
  font-size: 14px;
  display: none;
  margin-top: 5px;
}
#lastError {
  color: #ff0000;
  font-size: 14px;
  display: none;
  margin-top: 5px;
}

@media (max-width: 768px) {

    .send-email{
        width: 100%;
    }
  .send-email    .text{
    font-size: 30px;
  }
  .send-email form{
    padding: 10px 0 0 0;
  }
  .send-email form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }

  .popup {
    width: 80%;
    padding: 15px;
}
    
}

@media (max-width: 1010px) {
  .error {
    color: red;
    font-size: 0.8em;
    font-weight: 500;
  }
}
