@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.send-email{
  max-width: 800px;
  background: #ffffff;
  width: 50%;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.send-email .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.send-email form{
  padding: 30px 0 0 0;
}
.send-email form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
  color: rgb(0, 0, 0);
}
form .form-row .textarea{
  height: 70px;
  
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(191, 191, 191, 0.231);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #a700e9;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
  color: rgb(0, 0, 0);
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #ffffff;
  color: rgb(0, 0, 0);
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #a700e9;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}

.submit-btn button{
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 20px;
    font-size: 17px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {

    .send-email{
        width: 100%;
    }
  .send-email    .text{
    font-size: 30px;
  }
  .send-email form{
    padding: 10px 0 0 0;
  }
  .send-email form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
    
}