.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    transition: opacity 0.2s ease-out, visibility 0.5s ease-out;
    opacity: 1;
    visibility: visible;   
    background-color: rgb(231, 231, 231);
    display: flex;
    align-items: center;
    justify-content: center;
}

body.loaded #loader {
    opacity: 0;
    visibility: hidden;    
}


  
#timedVideo {
    width: 100%; 
    max-width: 400px; 
    height: auto;
}

@media (min-width: 769px) {
    #timedVideo {
        width: 100%; 
        max-width: 600px; 
        height: auto;
    }
}
  

  