.nav-bar{
    position: relative;
    right: 0;
    width: 100%;
    height: 80px; 
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100000;
    transition:  .5s;
}

.nav-bar.active
{
  right: 270px;
}

.stick{
    z-index: 100000;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    right: 0;
    transition: all 1s ease;
    background-color: rgb(255, 255, 255);
    border-bottom: white 1px solid;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    padding: 5px;
    margin: 5px;
    font-family: Montserrat;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
  max-width: 200px;;
}

.logo-small{
    line-height: 30px;
    font-size: 1.3em;
    width: 190px;
    color: rgb(0, 0, 0);
}

.sub{
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;
}

.nav-links{
    width: 920px;
    height: 50px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px rgba(0, 0, 0, 0) solid;
    display: flex;
    align-items: center;
    transition: all 0.5s ease; 
}


.small-nav-link{
    border: none;
    height: 30px;
    color: rgb(0, 0, 0);
}

.nav-links .links{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
   
}

.links li{
    list-style: none;
    padding: 10px 20px;
}

.links li a{
    text-decoration: none;
    font-family: montserrat;
    font-size: 1em;
}

.mode{
    width: 30px;
    border-radius: 100px;
    height: 30px;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px rgb(255, 255, 255) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    cursor: pointer;
}



.mode lable{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.mode input{
    position: absolute;
    opacity: 0;
}

.sun{
    position: absolute;
    font-size: 1.5em;
    z-index: 3;
    transition: 1s ease;
    
}

input:checked~.sun{
    
    transform: rotate(360deg) scale(0);
}



.moon{
    font-size: 2em;
    
    z-index: 3;
    transition: 1s ease;
    transform: scale(0);
}

input:checked~.moon{
    transition-delay: .8s;
    transform: scale(1) rotate(360deg);
}

.toggle-mode{
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
   
}

input:checked~.toggle{
    background-color: rgb(255, 255, 255);
}


.left{
    display: flex;
    flex-direction: row;
}

.burger-menu{
    display: none;
}

.burger-menu svg{
    width: 50px;
    height: 50px;
    fill: #ffffff; 
    color: #ffffff; 
}




@media(max-width: 768px) {
    .nav-links{
        display: none;
    }

    .nav-bar{
       align-items: center;
       justify-content: center;
    }

    .container{
        width: 80%;
        justify-content: space-between;
    }

    .burger-menu{
        width: 30px;
        border-radius: 100px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
        border: none;
    }

    .close-div{
        position: absolute;
        z-index: 2;
        background-color: #ffffff00;
        right: 15px;
        top: 15px;
        color: rgb(59, 59, 59);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        font-family: monospace;
        font-size: 2em;
        cursor: pointer;
    }



}