body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    background-color: #333;
    scroll-behavior: smooth;
}


.hero-container {
    height: 100vh;
   width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;
    color: white;
    text-align: center;
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);

}

.hero-content{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.shape{
    height: 100%;
    width: 50%;
    background-color: #0057b300;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    overflow: hidden;
    border: none;
}

.hero-video {
    height: 100vh;
    width: 100%;
    object-fit: cover; 
    filter: brightness(50%);
    object-fit: cover;

} 


.title{
    width: 50%;
    font-family: monospace;
    font-weight: 700;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 25px;
   
}

.title .main-title{
    font-size: 4.4em;
   
    text-align: center;
}

.title .sub-title{
    font-size: 2em;
    text-align: center;
}

.quick-info{
    margin-top: 20px;
    background-color: #0057b300;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    align-items: center;
}


.member-counter p{
    font-size: 8em;
    color: white;
    font-weight: 700;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    max-width: 2560px;
    height: 100%;
    width: 100%;
}

#nbr{
    line-height: 120px;
    background: -webkit-linear-gradient(to right, #4f1575, #ff00bf); /* For Safari */
background: linear-gradient(to right, #4f1575, #ff00bf); /* Standard syntax */
-webkit-background-clip: text; /* For Safari */
background-clip: text;
-webkit-text-fill-color: transparent; /* For Safari */
text-fill-color: transparent;
}

#leetCode-nbr{
    line-height: 120px;
    background: -webkit-linear-gradient(to right, #4f1575, #ff00bf); /* For Safari */
background: linear-gradient(to right, #4f1575, #ff00bf); /* Standard syntax */
-webkit-background-clip: text; /* For Safari */
background-clip: text;
-webkit-text-fill-color: transparent; /* For Safari */
text-fill-color: transparent;
}

#meetUp-nbr{	
    line-height: 120px;
    background: -webkit-linear-gradient(to right, #4f1575, #ff00bf); /* For Safari */
background: linear-gradient(to right, #4f1575, #ff00bf); /* Standard syntax */
-webkit-background-clip: text; /* For Safari */
background-clip: text;
-webkit-text-fill-color: transparent; /* For Safari */
text-fill-color: transparent;
}

.sub-text-member{
    font-size: 1.4em;
    color: rgb(0, 0, 0);
    padding-left: 10px;
}


.section-three{
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 500px;
    width: 100%;
    /* border: solid 1px red; */
}



.stats{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    width: 95%;
    border-bottom: rgb(0, 0, 0) solid 0.5px; 
    
}
.stats:nth-child(1){
    border-top: rgb(0, 0, 0) solid 0.5px; 
    border-bottom: rgb(0, 0, 0) solid 0.5px; 
    margin-top: 10px; 
}

.stat-number{
    display: flex;
    align-items: start;
    justify-content: center;
    color: rgb(0, 0, 0);
    height: 100%;
}

.stat-number p{
    font-size: 2em;
    font-weight: 700;
    padding: 25px 10px;
}

.stat-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px 10px;
    width: 80%;
    height: 100%;
}

.stat-title p{
    font-size: 3em;
    color: rgb(0, 0, 0);
    font-weight: 300;
    line-height: 50px;
}

.stat-title span{
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    font-weight: 200;
}

.stat-detail-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    right: 10px;
    top: 10px;   
}

.stat-detail-btn img{
    width: 40px;
    height: 40px;
}




  .section-four{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .overview-container{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    width: 100%;
  }

  .overview-container:nth-child(2){
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }
  .overview-container:nth-child(3){
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }
  


  .div-first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    width: 50%;
  }

  .div-second{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    /* border: solid 1px rgb(255, 0, 0); */
    width: 100%;
    height: 50%;

  }

  
.overview{
    display: flex;
    width: 50%;
}

.section-five{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
    

.section-six{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    width: 100%;
    
    position: relative;
}

.send-email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 50%;
    
}

.send-email-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 50%;
    padding: 30px;
    
}



  




@media(max-width: 600px) {
    .title .main-title{
        font-size: 3em;
    }
    .stat-title p{
        font-size: 2em;
        font-weight: 200;
        line-height: 30px;
        padding: 2px;
        
    }

    .stat-number p{
        font-size: 1.5em;
        font-weight: 200;
        padding: 25px 10px;
    }

    .stat-title span{
        font-size: 1em;
        color: rgb(0, 0, 0);
        font-weight: 200;
        padding-left: 5px;
        padding-bottom: 10px;
    }
    .section-three{
        justify-content: center;
    }

    
   
}




@media(max-width: 768px) {
  
    .nav-links{
        display: none;
    }

    .shape{
        width: 100%;
        clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
        background-color: #0057b300;
        border: none;
    }
    .title{
        position: absolute;
        width: 90%;
    }

    .hero-content{
        flex-direction: column;
    }

    .hero-video {
        width: 100%;
        object-fit: cover; 
        filter: brightness(50%);
    }

   
    .section-two{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        background: #ffffff;
        --gap: 5em;
        --line: 1px;
        --color: rgba(255, 255, 255, 0.2);
      
        background-image: linear-gradient(
            -90deg,
            transparent calc(var(--gap) - var(--line)),
            var(--color) calc(var(--gap) - var(--line) + 1px),
            var(--color) var(--gap)
          ),
          linear-gradient(
            0deg,
            transparent calc(var(--gap) - var(--line)),
            var(--color) calc(var(--gap) - var(--line) + 1px),
            var(--color) var(--gap)
          );
        background-size: var(--gap) var(--gap);
    }

    .member-counter{
        width: 100%;
        padding: 30px;
        background-size: var(--gap) var(--gap);
        border-top: 1px grey solid;
       
    }

    .stat-title span{
        font-size: 1em;
        color: rgb(0, 0, 0);
        font-weight: 200;
        padding-left: 5px;
        padding-bottom: 10px;
    }

    .card{
        display: none;
    }

    .overview{
        order: 2;
        width: 100%;
        justify-content: center;
        padding-bottom: 60px;
    }

    .div-first{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        width: 100%;
    }


    .overview-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div-first{
        display: none;
    }

    .section-five{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #313131;
        height: 500px;
        width: 100%;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        /* border: solid 1px red; */
    }

    .social-text{
        font-size: 1.2em;
        text-align: center;
        color: white;
        font-weight: 700;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        background: -webkit-linear-gradient(to right, #4f1575, #ff00bf);
        background: linear-gradient(to right, #4f1575, #ff00bf);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }

    .send-email{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
    }

    .send-email-logo{
        display: none;
    }
         

  
    
   
 
}

/* devices with a viewport width of 769 pixels or more */
@media(min-width: 769px) {
    .section-two{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #000000;
        width: 100%;
        height: 400px;
        background: #fdfdfd;
        --gap: 5em;
        --line: 1px;
        --color: rgba(0, 0, 0, 0.767);
      
        background-image: linear-gradient(
            -90deg,
            transparent calc(var(--gap) - var(--line)),
            var(--color) calc(var(--gap) - var(--line) + 1px),
            var(--color) var(--gap)
          ),
          linear-gradient(
            0deg,
            transparent calc(var(--gap) - var(--line)),
            var(--color) calc(var(--gap) - var(--line) + 1px),
            var(--color) var(--gap)
          );
        background-size: var(--gap) var(--gap);
        
    }

    .member-counter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 30px;
        flex: 1 1 calc(33.333% - 20px);
        border-left: 1px grey solid;
    }

    .member-counter:nth-child(1){
        border-left: none;
    }

    .section-three{
        display: flex;
        flex-direction: row;
       
    }
   
    .stat-number,
    .stat-title,
    .stat-number,
    .stat-detail-btn{
        display: none;
    }

    .stats{
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: none;
        border-bottom: none;
        border-right: 0.5px;
    }

    .stats:nth-child(1){
        border: none;
    }

    .card-inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card-inner p{
        font-size: 1.5em;
        font-weight: 200;
        color: rgb(0, 0, 0);
        padding: 10px; 
    }

    .card-inner span p{
        font-size: 2.5em;
        font-weight: 500;
        color: rgb(0, 0, 0);
        padding: 10px; 
    }

    .overview-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
       padding-bottom: 60px;
        /* height: 400px; */
        align-items: center;
        
        width: 100%;
        padding: 40px 20px;
    }
   
    .overview{
        order: 1;
        justify-content: center;
    }

    .overview-container div{
        order: 2;
       
    }

    .div-first{
        display: flex;
        justify-content: start;
        flex-direction: column;
        padding: 20px 0;
        /* background-image: linear-gradient(to right top, #161616, #121212, #0d0d0d, #070707, #000000); */
        border-width: 1px;
        border-style: solid;
        border-right: none;
    }

    /* .div-first-title{
        font-size: 2em;
        color: white;
        font-weight: 200;
        padding-left: 20px;
    } */

    .div-first-title{
        display: none;
    }

    .div-first-text{
        font-size: .9em;
        color: rgb(0, 0, 0);
        font-weight: 400;
        padding: 0 20px;
    }

    .div-first li{
        list-style: none;
        padding: 0 10px ;
        color: rgb(0, 0, 0);
        font-weight: 400;
        font-size: .9em;
    }

    .div-first li h2{
        font-size: 1.5em;
        font-weight: 700;
        background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .div-first-text span{
        font-size: 1.5em;
        font-weight: 700;
        background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    }

    .div-first{
        display: flex;
        justify-content: end;
        border-left: none;   
    }


    .section-five{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
        height: 500px;
        width: 100%;
        /* border: solid 1px red; */
    }

    .social-text{
        display: flex;
        align-items: center;
        justify-content: end;
        width: 50%;
        font-size: 2em;
        color: white;
        font-weight: 700;
        padding: 20px;
        margin-bottom: 20px;
        background: -webkit-linear-gradient(to right, #4f1575, #ff00bf); 
        background: linear-gradient(to right, #4f1575, #ff00bf);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; 
        text-fill-color: transparent;
    }

    
    .send-email-logo img{
        width: 80%;
        height: 80%;
        border-radius: 50%;
        margin-bottom: 20px;
    }



    
    

   
}